.full-width {
   width: 100% !important;
   margin-left: auto !important;
   margin-right: auto !important;
   max-width: initial !important;
}

.text-center{
    text-align: center;
}

body {
  background: black; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

html, body {
    height: 100%;
}

.top{
    height: 10%;
}

.full-page{
    height: 100%;
    width: 100%;
}
.todo{
    visibility: hidden;
}

.todo-text{
    color: white;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 128);
}
.todo-text:focus{
    color: white;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 128);
}
.todo-list{
    color: white;
    font-size: 18px;
}
.todo-delete{
    color: red;
}
.todo-delete:hover{
    cursor: pointer;
}
.weather{
    color: white;
    font-size: 24px;
    text-align: right;
    margin: 0px auto;
}
.weather:hover{
    cursor: pointer;
}
.scooted-up{
    margin-top: -15px;
}

.greeting{
    color: white;
    font-size: 18px;
    font-size: 8vw;
    font-weight: bold;
    margin-top: -30px;
    -webkit-text-stroke: 1px black;
}
.clock{
    font-size: 96px;
    font-size: 24vw;
    font-weight: bold;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

.clock:hover{
    cursor: pointer;
}
.date{
    font-size: 24px;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

.quote{
    color: white;
    font-size: 12px;
    max-height: 30%;
    overflow: hidden;
}

.author{
    color: white;
}

@media only screen and (min-width: 64.063em) { 
    .clock{ 
        font-size: 8vw;
    }
    .date{
        font-size: 3vw;
    }
    .greeting{
        font-size: 3vw;
    }
    .todo{
        visibility: visible;
    }
    .quote{
        font-size: 24px;
    }
}



