body {
  background: url("") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

html, body {
    height: 100%;
}

.full-page{
    height: 100%;
    width: 100%;
}
.weather{
    color: white;
    font-size: 24px;
    text-align: right;
    margin: 0px auto;
}
.scooted-up{
    margin-top: -15px;
}

.clock{
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.date{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
}
